/* Base styles */
html {
    font-size: 100%;
}
body {
    margin: 0;
    background: var(--secondary);
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}
:root {
    --primary: #193b1e;
    --secondary: #e4f0df;
    --tertiary: #572cb5;
    --font2: 'Shadows Into Light', cursive;
    --font1: 'Space Grotesk', sans-serif;
}

/* General styles */
.slide {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-container {
    background: var(--secondary);
    height: 100vh;
    width: 100vw;
}

.inner-container {
    width: 100%;
    height: 50%;
}
#bold {
    font-weight: bold;
}

#instructions-button {
    position: absolute;
    top: .25rem;
    font-size: 1.5rem;
    left: 0;
    border: none;
    background: none;
    font-family: monospace;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--primary);
}
#instructions-button:hover {
    color: var(--tertiary);
    transform: scale(1.05);
    margin-left: .5rem;
    cursor: pointer;
}
#instructions-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    background: var(--secondary);
    background-image: url(./images/logo11.svg);
    background-position: center;
    background-blend-mode: screen;
    padding: 1rem;
    border-radius: 0 0 25px 0;
    border: 2px dotted var(--primary);
    border-left: none;
    border-top: none;
}
#instructions-div p {
    color: var(--primary);
    font-family: var(--font1);
    margin: 0;
    font-weight: bold;
    line-height: 1.5rem;
}
#instructions-div a {
    text-decoration: none;
    color: var(--tertiary);
}
.close-button {
    position: absolute;
    top: .25rem;
    right: .2rem;
    font-size: 1.5rem;
    color: var(--primary);
    border: none;
    background: none;
}
.close-button:hover {
    color: var(--tertiary);
    transform: scale(1.05);
    cursor: pointer;
}

/* Banner styles */
.banner1 {
    background-image: url(./images/teamwork.png);
    height: 35vh;
    width: 65%;
    background-color: #000;
    background-blend-mode: hard-light;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.banner2 {
    background-image: url(./images/organize.png);
    height: 35vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 2rem;
}
.banner3 {
    height: 30vh;
    display: flex;
    justify-content: center;
}
.banner3 img {
    height: 33vh;
    margin-left: 10rem;
}
.banner4 {
    background-image: url(./images/develop.jpg);
    height: 30vh;
    background-size: cover;
    background-position: center;
}
.banner5 {
    background-image: url(./images/coding.png);
    height: 35vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: 65%;  
}
.banner6  {
    height: 35vh;
    display: flex;
    justify-content: space-around;
}

.banner6 img {
    height: 100%;
    margin-top: 5rem;
}
.banner7 {
    height: 35vh;
    display: flex;
    justify-content: space-between;
}
.banner7 img {
    height: 100%;
    border-radius: 0 0 25px 0;
}
.banner8 {
    height: 35vh;
}
.banner8 img {
    height: 100%;
    margin-left: 31rem;
}
.banner9 {
    height: 25vh;
    display: flex;
    justify-content: center;
}
.banner9 img {
    height: 35vh;
    border-radius: 25px;
    box-shadow: 0 0 10px #000;
    margin-top: 3rem;
    border: 2px solid var(--primary);
    margin-left: 39rem;
}

/* Styles for slide 1 text and containers */
.inner-container1 {
    text-align: center;
    color: var(--primary);
    margin: 2rem 0 1rem;
}
.inner-container1 h1 {
    font-size: 4rem;
    text-align: left;
    margin-left: 3rem;
    font-family: var(--font1);
    margin-top: 4rem;
}
.inner-container1 h2 {
    font-size: 3rem;
    font-family: var(--font2);
    text-align: left;
    margin-left: 5rem;
    letter-spacing: .1rem;
}
.inner-container1 p {
    margin: 6rem 0 0 5rem;
    font-family: var(--font2);
    color: var(--tertiary);
    font-size: 2.5rem;
    letter-spacing: .15rem;
    text-align: left;
}

/* Styles for slide 1 images and containers */
.inner1-img-container {
    width: 100%;
}
.inner1-img-container img {
    height: 300px;
    width: 350px;
    border-radius: 25px;
    box-shadow: 0 0 10px #000;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

/* Styles for slide 2 text and containers */
.inner-container2 {
    background: #000;
    height: 100%;
}
.inner-container2 h2 {
    color: var(--secondary);
    margin: 2rem 1rem 6rem 2rem;
    font-size: 3.5rem;
    letter-spacing: .25rem;
    font-family: var(--font1);
    text-align: left;
}
.inner-container2 p {
    color: var(--secondary);
    font-family: var(--font2);
    font-size: 3rem;
    margin: 0 .75rem 6rem 5rem;
    letter-spacing: .15rem;
}

/* Styles for slide 3 text and containers */
.inner-container3 h2 {
    color: var(--primary);
    font-family: var(--font1);
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    margin: 0 2rem 1rem 1rem;
}
.inner-container3 p {
    color: var(--primary);
    font-family: var(--font2);
    font-size: 2.25rem;
    margin-left: 4rem;
}
.second-p {
    margin-bottom: 5rem;
}

.design-list {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}
.design-list li {
    list-style: none;
    color: var(--tertiary);
    font-family: var(--font2);
    font-size: 2rem;
}

.design-list2 {
    margin-top: 3rem;
}

/* Styles for slide 4 text and containers */
.inner-container4 {
    background: var(--primary);
    height: 100%;
    background-image: url(./images/slide4-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}
.inner-container4 h2 {
    color: var(--secondary);
    width: -moz-fit-content;
    width: fit-content;
    font-family: var(--font1);
    margin: 1rem auto 1.5rem;
    letter-spacing: .085rem;
    font-size: 3rem;
}
.inner-container4 p {
    color: var(--secondary);
    font-family: var(--font2);
    text-align: center;
    font-size: 2rem;
    margin-right: .25rem;
}

.inner-container4-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* Styles for slide 5 text and containers */
.inner-container5 {
    background: #000;
    height: 100%;
}
.inner-container5-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.inner-container5 h2 {
    color: var(--secondary);
    font-family: var(--font1);
    font-size: 3rem;
    margin-left: 1rem;
}
.inner-container5 p {
    color: var(--secondary);
    font-family: var(--font2);
    font-size: 2rem;
    margin-left: 5rem;
    margin-right: .25rem;
}

/* Styles for slide 6 text and containers */
.inner-container6 h2 {
    color: var(--primary);
    font-family: var(--font1);
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 1rem;
    margin-bottom: 7rem;
}
.inner-container6 p {
    color: var(--primary);
    font-family: var(--font2);
    font-size: 2rem;
    margin-left: 3rem;
}

/* Styles for slide 7 text and containers */
.inner-container7 {
    background: #000;
    height: 100%;
}
.inner-container7 h2 {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    font-family: var(--font1);
    color: var(--secondary);
    font-size: 4rem;
}
.inner-container7 p {
    font-size: 2rem;
    font-family: var(--font2);
    color: var(--secondary);
    margin: 1rem 1rem 3rem 2rem;
}

/* Styles for slide 8 text and containers */
.inner-container8-content {
    display: flex;
    flex-direction: column;
    height: 60%;
}
.inner-container8 {
    background: var(--primary);
    height: 100%;
}
.inner-container8 h2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 55%;
    color: var(--secondary);
    font-family: var(--font1);
    font-size: 3rem;
    margin: auto;
    text-align: center;
}
.inner-container8 p {
    color: var(--secondary);
    font-family: var(--font2);
    font-size: 2.25rem;
    margin: 3rem 2rem 5rem;
}

/* Styles for slide 9 text and containers */
.inner-container9 {
    background: #000;
    height: 100%;
}
.inner-container9 h2 {
    color: var(--secondary);
    font-family: var(--font1);
    margin: 0 0 2rem 2rem;
    font-size: 3rem;
}
.inner-container9 p {
    color: var(--secondary);
    font-family: var(--font2);
    font-size: 2.25rem;
    margin: 1rem 1rem 3rem 4rem;
}

/* Styles for slide 10 text and containers */
.inner10-image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.inner-container10 h2 {
    color: var(--primary);
    font-family: var(--font1);
    font-size: 3rem;
    margin-left: 2rem;
}
.inner-container10 p {
    font-size: 1.75rem;
    font-family: var(--font2);
    color: var(--primary);
    margin-left: 3.75rem;
    margin-right: .25rem;
}

#react-image {
    width: 40%;
    margin-right: 0;
}

#illustrator-image {
    height: 45%;
}

#figma-image {
    width: 30%;
    margin-left: -7rem;
    margin-top: -1rem;
}

#shopify-image {
    margin-left: 2rem;
}

.image-container2 {
    width: 16%;
    text-align: center;
}
.image-container2 img {
    width: 80%;
    margin-right: 4rem;
}

/* Styles for slide 11 text and containers */

/* Styles for slide 11 comparison containers */
.inner-container11 {
    background: var(--primary);
    height: 100%;
}
.inner-container11 h2 {
    font-size: 4rem;
    margin: 0 auto 7rem;
    width: -moz-fit-content;
    width: fit-content;
    font-family: var(--font1);
    color: var(--secondary);
    letter-spacing: .1rem;
    padding-top: 2rem;
}
.fade11 {
    opacity: 0;
    transition: opacity 3s ease-in-out;
    width: 28%;
    height: 500px;
    background: #fff;
    border-radius: 15px;
    border: solid 2px var(--primary);
    box-shadow: 0 0 10px #000;
}
#us-container {
    background-image: url(./images/logo11.svg);
    background-color: var(--secondary);
    background-blend-mode: screen;
    background-position: center;
}
.fade11 ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 85%;
    list-style: none;
    padding-inline-start: 0;
}
.fade11 h3 {
    font-family: var(--font1);
    color: var(--primary);
    border-bottom: dashed 1px var(--tertiary);
    width: 90%;
    text-align: center;
    margin: 0 auto -1rem;
    padding: .5rem 0;
}
.fade11 li {
    text-align: left;
    justify-content: space-between;
    margin-left: .5rem;
    margin-right: 1rem;
    font-size: 1.15rem;
    display: flex;
    height: 60px;
}
span {
    font-size: 1.5rem;
    letter-spacing: .125rem;
    font-weight: bold;
}
strong {
    font-family: var(--font1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.fade {
    opacity: 1;
}
.inner-container11-content {
    display: flex;
    justify-content: space-around;
}

.meeting {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.inner-container12 {
    height: 25%;
}
#container11-list1 > li:nth-child(1) span,
#container11-list1 > li:nth-child(n+8):nth-child(-n+10) span {
    color: red;
}
#container11-list1 > li:nth-child(n+2):nth-child(-n+4) span,
#container11-list1 > li:nth-child(n+6):nth-child(-n+7) span {
    color: green;
}
#container11-list1 > li:nth-child(5) span {
    color: orange;
}

#container11-list2 > li:nth-child(n+1):nth-child(-n+5) span {
    color: orange;
}  
#container11-list2 > li:nth-child(n+6):nth-child(-n+10) span {
    color: red;
}

#container11-list3 span {
    color: green;
}
/* Media queries */

/* Laptops */ 
@media only screen and (max-width: 1300px) {
    .banner2 {
        margin-right: 15rem;
    }
    .inner1-img-container img {
        height: 200px;
        width: 250px;
    }

    /* Slide 1 */
    .inner-container1 h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .inner-container1 h2 {
        font-size: 2rem;
    }
    .inner-container1 p {
        margin-top: 4rem;
        font-size: 1.5rem;
    }

    /* Slide 2 */
    .inner-container2 h2 {
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 2rem;
    }
    .inner-container2 p {
        margin-bottom: 2rem;
        font-size: 1.75rem;
        margin-left: 3rem;
    }

    /* Slide 3 */
    .inner-container3 h2 {
        font-size: 2rem;
    }
    .inner-container3 p {
        font-size: 1.5rem;
    }
    .design-list li {
        font-size: 1.25rem;
    }
    .second-p {
        margin-bottom: 2rem;
    }

    /* Slide 4 */
    .inner-container4 h2 {
        font-size: 2rem;
    }
    .inner-container4 p {
        font-size: 1.5rem;
    }

    /* Slide 5 */
    .inner-container5 h2 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .inner-container5 p {
        font-size: 1.4rem;
    }

    /* Slide 6 */
    .inner-container6 h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .inner-container6 p {
        font-size: 1.6rem;
    }

    /* Slide 7 */
    .inner-container7 h2 {
        font-size: 2.5rem;
    }

    /* Slide 8 */
    .inner-container8 h2 {
        font-size: 2.5rem;
    }
    .inner-container8 p {
        margin: 1rem;
        font-size: 1.75rem;
    }

    /* Slide 9 */
    .banner8 {
        height: 33vh;
    }
    .inner-container9 h2 {
        font-size: 2.75rem;
    }
    .inner-container9 p {
        font-size: 1.5rem;
    }

    /* Slide 10 */
    .banner9 img {
        height: 23vh;
        margin-left: 44rem;
    }
    .inner-container10 h2 {
        margin-top: -5rem;
        font-size: 2.5rem;
    }
    .inner-container10 p {
        font-size: 1.15rem;
    }
    .inner10-image-container {
        margin-top: 3.5rem;
    }
    #react-image {
        margin-right: -7.5rem;
    }
    .image-container2 img {
        margin-right: -6rem;
    }

    /* Slide 11 */
    .inner-container11 h2 {
        font-size: 3rem;
        padding-top: 0;
        margin-bottom: 1rem;
    }
    .fade11 {
        width: 26%;
    }
}

/* Portrait phones */ 
@media only screen and (max-width: 600px) and (orientation: portrait) {
    .inner-container {
        height: 100%;
    }

    .banner1 {
        height: 40vh;
        background-position: center center;
        width: 100%;
        margin-right: 0;
    }
    .inner-container1 h1 {
        margin: auto .75rem 4rem;
    }
    .inner-container1 h2 {
        margin: auto .75rem;
    }
    .inner-container1 p {
        margin: 5rem .5rem 0;
    }
    .inner-container2 h2 {
        margin: 1rem 0 2rem 1rem;
        font-size: 1.5rem;
    }
    .inner-container2 p {
        font-size: 1.25rem;
        margin: 0 0 1rem 1rem;
    }
}

/* Walking queries */
@media only screen and (max-width: 1100px) {
    .inner1-img-container {
        display: none;
    }
}
@media only screen and (max-width: 956px) {
    .design-list2 {
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 916px) {
    .banner9 img {
        margin-right: 10rem;
    }
}
@media only screen and (max-width: 826px) {
    .inner-container5 h2 {
        font-size: 1.75rem;
    }
    .inner-container5  p {
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 812px) {
    .banner6 img {
        margin-top: 0;
    }
    strong {
        width: 8rem;
        font-size: 1rem;
    }
    .fade11 li {
        border-bottom: dotted var(--primary) 1px;
        margin-right: 0;
    }
}
@media only screen and (max-width: 794px) {
    .banner9 img {
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    .inner-container6 p {
        font-size: 1.2rem;
    }
    .inner10-image-container {
        margin-top: 0;
    }
}
@media only screen and (max-width: 710px) {
    .inner-container8 p {
        font-size: 1.6rem;
    }

    .inner-container9 h2 {
        font-size: 2.5rem;
    }
    .inner-container9 p {
        margin-bottom: 2rem;
        margin-left: 2.75rem;
    }
}
@media only screen and (max-width: 692px) {
    .inner-container3 p {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 644px) {
    .inner-container7 p {
        font-size: 1.4rem;
    }
    .banner8 img {
        margin-left: 16rem;
    }
}